.container{
    padding: 1.3rem;
    background: rgb(255, 253, 253);
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}
.backDropContainer{
    width: 100%;
    height: 30vh;
    background: url("https://images.pexels.com/photos/1095793/pexels-photo-1095793.jpeg?_gl=1*11jf351*_ga*MTQwMTA1NTA1Mi4xNzc0OTQwMDE0*_ga_8JE65Q40S6*czE3NzQ5NDAwMTMkbzEkZzEkdDE3NzQ5NDAxNjkkajYkbDAkaDA.");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 20px;
}

.backDrop__overlay{
   width: 10em;
    height: 10em;
    object-fit: cover;
    border-radius: 50%;
    position: absolute;
    bottom: -30%;
    left: 8%;
    text-align: center;
    z-index: 4;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.767);
    opacity: 0.0;
    display: flex;
    justify-content: center;
    align-items: center;
     
}
.backDrop__overlay:hover{
    opacity: 0.8;
     background: black;
}
.backDrop{
    width: 10em;
    height: 10em;
    object-fit: cover;
    border-radius: 50%;
    position: absolute;
    bottom: -30%;
    left: 8%;
    text-align: center;
}


.profileContainer__details{
    padding-top: 6.6rem;
}
.card{
    display: flex;
    align-items: center;
    gap: 1.4rem;
}
.card__profileContainer{
    display: flex;
}
.card__profileContainer>img{
    width: 3.4rem;
    height: auto;
    height: 3.4rem;
    object-fit: cover;
}

.workHistoryContainer{
    display: flex;
    gap: 1.4rem;
    padding-top: 1.4rem;
    width: 100%;
    flex-wrap: wrap;
    
}
.workHistoryCard{
    min-width: fit-content;
    padding-inline: 2.5rem;
    padding-block: 1rem;
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgb(173, 173, 173);
}
.profileContainer__details input{
    outline: none;
    border-style: none;
    padding-inline: 10px;
    padding-block: 9px;
    width: fit-content;
}
.nameEdit{
  font-size: 1.5rem;
  font-weight: bold;
}
.updateProfileBtn{
      margin-top: 1rem;
    padding-inline: 0.8rem;
    padding-block: 0.3rem;
    background: rgba(3, 93, 183, 0.905);
    outline: none;
    border: none;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    width: fit-content;
}

.profileContainer__details textarea{
   outline: none;
    border-style: none;
    padding-inline: 10px;
    padding-block: 9px;
    font-family: "poppins",  !important;
   font-size: 1.1rem;
  width: 100%;
}
.addWorkBtn{
    
    padding-inline: 1.3rem;
    background: white;
    padding-block: 1.2rem;
    border: 1px dotted silver;
    border-radius: 10px;
    cursor: pointer;
}

.commentsContainer{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 5;
    /* 0.7 opacity with black; */
    background: rgba(0, 0, 0, 0.7); 
    overflow: hidden;
    justify-content: center;
    display: flex;
    align-items: center;
}
.allCommentsContainer {
    width: 40vw;
    height: fit-content;
    background: white;
    border-radius: 10px;
    position: relative;
    padding: 1.4rem;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}
.inputField{
    padding-inline: 1.3rem;
    padding-block: 0.8rem;
    outline: none;
    border-radius: 10px;
    border: 1px solid silver;
    width: 100%;
}

.profileContainer__flex{
    display: flex;
    gap: 0.7rem;
}

/* responsive design for smaller screens  may be 600px */
@media only screen and (max-width: 768px){
  .profileContainer__flex{
    flex-direction: column;
  }
}



